extends layout.pug

block title
	title= __('Help Us Translate 35c3') + ' – ' + __('SITE_NAME')

block scripts
	script(type='text/javascript', src='static/index.js')

block content
	h1= __('Help Us Translate 35c3')
	p= __('INTRO_TEXT')
	p= __('INTRO_GET_STARTED')
	p.input-group
		label(for='filter').input-group-addon
			span.glyphicon.glyphicon-search
			=' '
			=__('Search')
			noscript=' ' + __('(JavaScript required)')
		input#filter.form-control(type='text', placeholder=__('Start typing to find talks by name or speaker'), autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false') 
	.list-group
		each talk in talks
			a(href=`/talks/${talk.slug}/`, data-filter-string=`${talk.title} ${talk.speakers.join(' ')}`).list-group-item
				h5.list-group-item-heading
					= talk.title
				p.list-group-item-text
					span
						= talk.speakers.join(', ')
					=' · '
					span(class=(talk.files.length ? 'label label-success' : 'label label-warning'))
						= __n('%s files uploaded', talk.files.length)
					=' '
					if talk.commentFiles.length
						span.label.label-info= __n('%s comments', talk.commentFiles.length)
